@import "node_modules/font-awesome/scss/font-awesome.scss";
@import "node_modules/bootstrap/scss/bootstrap";
//color
$color-dark: #333333;
$color-primary: #00c8c8;
$color-gray: #f8f8f8;
$color-white: #fff;
$color-dark-gray: #575153;
$color-text: #a6a6a6;
//text
$text-small: 16px;
$text-medium: 20px;
$text-large: 40px;
$text-icon: 30px;
button {
    outline: none !important;
}
.border-item {
    border: 1px solid $color-dark;
}
#footer {
    background-color: $color-gray;
    #start-footer {
        .award-social {
            .bg-award {
                background-color: $color-dark-gray;
                width: 48%;
                padding: 45px 0;
                div {
                    color: $color-white;
                    font-size: $text-large;
                    text-transform: uppercase;
                }
            }
            .bg-social {
                background-color: $color-primary;
                width: 48%;
                padding: 45px 0;
                i {
                    margin: 0 20px;
                    color: $color-white;
                    font-size: $text-large;
                    cursor: pointer;
                }
            }
        }
        .infor {
            p {
                color: $color-dark-gray;
                font-size: $text-medium;
                text-transform: uppercase;
            }
            ul {
                padding: 0;
                li {
                    color: $color-text;
                    list-style: none;
                    font-size: $text-small;
                }
            }
        }
    }
    #end-footer {
        background-color: $color-dark;
        .text-footer {
            color: $color-text;
        }
    }
}

.color-text {
    color: $color-text;
}

#header {
    background-color: $color-dark;
    .text-header {
        cursor: pointer;
        a{
            color: $color-text;
            &:hover {
                color: $color-primary;
            }
        }
    }
    i {
        color: $color-white;
    }
    .hd-cart {
        position: relative;
        align-self: center;
        &:hover .popup {
            display: block !important;
            transition: 2s;
            animation-name: popup;
            animation-duration: 1s;
            @keyframes popup {
                from{opacity: 0;}
                to{opacity: 1;}
            }
        }
        .popup {
            display: none;
            position: absolute;
            width: 400px;
            background: $color-gray;
            z-index: 9999;
            border: 1px solid $color-dark;
            right: 20%;
            max-height: 400px;
            overflow-y: scroll;
            #change-item {
                .wrap-product {
                    background-color: $color-white;
                    .wrap-img {
                        width: 40%;
                        img {
                            width: 100%;
                        }
                    }
                    .wrap-icon {
                        width: 10%;
                        text-align: center;
                        i {
                            color: $color-dark;
                            cursor: pointer;
                        }
                    }
                    .wrap-text {
                        width: 50%;
                        p {
                            color: $color-dark;
                            font-size: $text-small;
                            font-weight: 600;
                            text-transform: capitalize;
                        }
                    }
                }
                .wrap-total {
                    background-color: $color-white;
                    .total-price {
                        border-top: 1px solid $color-dark-gray;
                        div{
                            color: $color-dark;
                            font-size: $text-medium;
                            font-weight: 600;
                        }
                    }
                    .total-quality {
                        div{
                            color: $color-dark;
                            font-size: $text-medium;
                            font-weight: 600;
                        }
                    }
                }
            }
            .wrap-btn {
                background-color: $color-white;
                .btn {
                    width: 100%;
                    outline: none;
                    border: none;
                    color: $color-white;
                    font-size: $text-medium;
                    text-transform: capitalize;
                    margin: 5px 0;
                    &:hover {
                        opacity: 0.5;
                        margin-top: 5px;
                    }
                }
                .view-cart {
                    background-color: $color-primary;
                }
                .checkout {
                    background-color: $color-dark-gray;
                }
            }
        }
    }
}

#nav {
    .nav-logo {
        .nav-text a{
            color: $color-dark;
            font-size: $text-large;
            text-transform: uppercase;
            &:hover {
                text-decoration: none;
            }
        }
    }
    ul {
        li {
            list-style: none;
                a{
                list-style: none;
                color: $color-dark;
                cursor: pointer;
                text-transform: capitalize;
                &:hover {
                    color: $color-primary;
                }
            }
        }
    }
    #search {
        border: 1px solid $color-text;
        padding: 0 5px;
        input {
            outline: none;
        }
        .fa-search {
            border: none;
            outline: none;
            background-color: $color-white;
            color: $color-dark-gray;
        }
    }
}

#banner {
    background-image: url(../../public/images/banner.jpg);
    background-size: cover;
    background-position: bottom;
    height: 400px;
    &::before {
        content: "";
        background-color: $color-dark;
        position: absolute;
        z-index: 1;
        opacity: 0.7;
        width: 100%;
        height: 400px;
    }
    .text-title {
        font-size: 60px;
        color: $color-white;
        z-index: 2;
    }
}

